{erl_opts, [debug_info]}.
{deps, []}.

{shell, [
    {apps, [eukit]}
]}.

{xref_checks, [undefined_function_calls, undefined_functions,
               locals_not_used, deprecated_function_calls,
               warnings_as_errors, deprecated_functions]}.

{xref_ignores, [emqx_exproto_pb]}.

{cover_enabled, true}.
{cover_opts, [verbose]}.
{cover_export_enabled, true}.
